<div class="signup-wrapper">
    <div class="title">
        HAVE AN ACCOUNT? JUST SIGN IN!
    </div>
    <br>
    <div class="signup-form">
        <form [formGroup]="loginForm">
            <p class="subtitle">Email</p>
            <input type="email" placeholder="Enter email" formControlName="email_id">

            <p class="subtitle">Password</p>
            <input type="password" placeholder="Enter password" formControlName="password">
        </form>
        <br>
        <button class="btn" (click)="signIn()" [disabled]="loginForm.invalid">SIGN IN</button>
    </div>
    <br><br>
    <div class="signup">
        <span>Already have an account?</span>&nbsp;&nbsp;
        <a [routerLink]="['/sign-up']">SIGN UP</a>
    </div>
</div>