.auth-wrapper{
    background-color: #f9f9f9;
    height: 100vh;
}

.pd-30{
    padding: 30px;
}

.logo{
    height: 80px;
    width: 302px;
}

.auth-container{
    display: flex;
    justify-content: center;

    .auth-card{
        height: 520px;
        width: 945px;
        box-shadow: 0 10px 20px 0 rgba(210, 210, 210, 0.5);
        background-color: #ffffff;
        border-radius: 2px;
        display: flex;
        position: relative;

        .auth-form{
            height: 100%;
            width: 390px;
            position: absolute;
            z-index: 2;
            background: white;
        }

        .image{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            
            img{
                width: 650px;
                // max-height: 100%;
                padding: 48px 0;
            }
        }
    }
}